.download {
  margin-bottom: 1.5rem;
}

.downloadSystem {
  background-color: #111;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.downloadSystemName {
  padding-left: 1.75rem;
  margin-bottom: 0.5rem;
}

.downloadSystemArch {
  color: #999;
  font-size: 0.75rem;
}

.downloadButton {
  font-size: 0.9rem;
  height: 15px;
  margin-bottom: 0;
  padding: 8px;
}

.downloadFile {
  margin-bottom: 0.5rem;
  padding-left: 1.75rem;
}

.downloadFile:last-child {
  margin-bottom: 0;
}

.downloadButtonIcon {
  margin-left: 0.5rem;
  vertical-align: middle;
  width: 14px;
}

.iconAll {
  background: url(../../public/images/icon-all.svg) no-repeat;
}

.icon-linux {
  background: url(../../public/images/icon-linux.svg) no-repeat;
}

.icon-mac {
  background: url(../../public/images/icon-mac.svg) no-repeat;
}

.icon-win {
  background: url(../../public/images/icon-win.svg) no-repeat;
}

@media (min-width: 48rem) {
  .download {
    margin-right: 2rem;
  }
}
