.filters {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.filtersTitle {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}

.filtersSearch {
  background-color: #111;
  border-radius: 0.25rem;
  border: 0;
  color: #999;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  text-overflow: ellipsis;
  width: 100%;
}

.filtersSearch:focus {
  outline: 1px solid #fff;
}

.filtersClear {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 0;
  text-decoration: none;
}

.filtersClear:hover {
  background: none;
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 48rem) {
  .filtersSearch {
    display: inline-block;
    font-size: 1.15rem;
    margin-right: 1rem;
    max-width: 180px;
  }

  .filtersClear {
    display: inline-block;
    font-size: 1.15rem;
  }
}
