.plugins {
  padding: 2rem 1.5rem;
}

.pluginsTitle {
  margin-bottom: 1rem;
}

.pluginCount {
  color: #666;
  font-size: 1rem;
}

.pluginsHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pluginsCategory {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

.pluginsCategory li {
  display: inline-block;
}

.pluginsCategory a {
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  padding: .5rem .75rem;
  transition: background-color .25s ease-out;
}

.pluginsCategory a:hover {
  background-color: #222;
}

.pluginsCategory :global(.selected) {
  background-color: #fff;
  color: #000;
}

.pluginsCategory :global(.selected):hover {
  background-color: #fff;
}

.pluginsSearch {
  background-color: #111;
  border-radius: .25rem;
  border: 0;
  color: #999;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
}

@media (min-width: 48rem) {
  .pluginCount {
    font-size: 1.4rem;
  }
  .pluginsList {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
